@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./partials/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection{
    background-color: $darkPurple;
    color: $lightColor;
}

.btn{
    transition: all 1s !important;
    box-shadow: 5px 5px 15px $darkColor;

    &:hover{
        transform: scale(1.025, 1.025) !important;
    }
}
.btn-primary{
    background-color: $darkPurple !important;
}

.marquee{
    background-color: $lightGreen;
    color: $lightColor;
    padding: .2rem;
    font-weight: bold;

    &::selection{
        background-color: $lightPurple;
        color: $lightColor;
    }
}

h1, h2{
    color: $darkPurple;
    font-weight: bold;
    font-size: 3rem;
}

/*
 * DARK MODE BUTTOM
 */
.container-checkbox{
    padding: 1rem;

    .dark-theme-label{
        display: flex;
        align-items: center;
        color: #f0f2f5;

        p{
            margin-bottom: 0;
            background-color: $darkPurple;
            font-weight: bold;
        }
    }
    
    .dark-theme-input[type="checkbox"]{
        margin: 0;
        visibility: hidden;
        width: 0;
        margin-right: .5rem;
    }
    
    .dark-theme-input[type="checkbox"]:checked + span{
        background-color: $lightColor;
    }
    
    .dark-theme-input[type="checkbox"]:checked + span:After{
        left: 22px;
        background-color: $darkPurple;
    }
    
    .dark-theme-span{
        background-color: $darkPurple;
        display: inline-block;
        border-radius: 10px;
        transition: all .2s;
        position: relative;
        margin-right: 5px;
        height: 20px;
        width: 40px;
    }
    
    .dark-theme-span:after{
        background-color: $span;
        display: inline-block;
        position: absolute;
        transition: all .2s;
        border-radius: 50%;
        height: 16px;
        content: '';
        width: 16px;
        left: 3px;
        top: 2px;
    }
    
    .dark-theme-span:hover:after{
        cursor: pointer;
        transition: left .5s ease-in-out;

    }
}

html,
body {
    font-family: 'Molengo', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    background: $backgroundColor;
    position: relative;

    .navbar{
        background-color: #00000062;
        
        .container {
            position: relative;
            z-index: 2 !important;
        }

        .logo__link{
            display: flex;
            align-items: center;
            text-decoration: none;

            img{
                width: 50px;
            }
            h1{
                margin: 0 0 0 .5rem;
                color: white;
                font-size: 1.5rem;
                text-transform: uppercase;
            }
        }

        .nav-link:hover{
            color: $darkPurple !important;
        }

        .collapse.navbar-collapse{
            position: relative;
        }
    }

    .header{
        .hader__banner{
            img{
                max-width: 100%;
                min-width: 100%;
            }
        }
     
        .header__presentation{

            .header__container{
                padding: 3rem;

                .header-presentation__container{
                    width: 100%;
                    top: 12%;
    
                    
                    p{
                        font-size: 1.5rem;
                    }
    
                    h1{
                        font-size: 5rem;
                    }
                }

                .growp-app{
                    max-width: 600px;
                    width: 100%;
                    box-shadow: 0px 0px 15px 5px #00000029;
                    margin: 3rem auto 0;

                    img {
                        max-width: 100%;
                        min-width: 100%;
                    }

                    .modal-dialog {
                        max-width: 992px !important;
                    }
                }
            }
        }
    }

    .app{
        width: 100%;

        .main{
            width: 100%;
            padding: 3rem;

            .section-timeline{
                .section-timeline__title{
                    display: flex;
                    text-align: left;
                    width: 100%;
                }
                .section-timeline__container{
                    width: 100%;
                    height: max-content;
                    margin: 0 auto;
                    position: relative;

                    ul{
                        list-style: none;
                        display: flow-root;
                        margin-top: 2rem;

                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 2px;
                            height: 80%;
                            background-color: $darkPurple;
                        }

                        li{
                            width: 50%;
                            position: relative;
                            padding: 2rem;
                            color: white;

                            animation: anima 3s ease-in-out infinite;
                            -webkit-animation: anima 3s ease-in-out infinite;
                            -moz-animation: anima 3s ease-in-out infinite;

                            .section-timeline__item{
                                width: 100%;
                                display: flex;
                                align-items: flex-start;

                                .timeline-item-container{
                                    flex: 11;
                                }
        
                                .timeline-item__icon{
                                    display: flex;
                                    align-items: flex-start;
                                    flex: 1;

                                    i {
                                        font-size: 2rem;
                                        margin: 0 2rem;
                                    }
                                }

                                p{
                                    margin-bottom: 0;
                                }
                            }

                            &:nth-child(odd) {

                                float: left;
                                clear: right;
                                transform: translateX(-30px);
                                border-radius: 20px 0px 20px 20px;
                                text-align: right;

                                background: linear-gradient(to left, #6576ff, #948aff);
                                background-size: 200% 200%;


                                .section-timeline__item{
                                    flex-direction: row-reverse;
                                }
                            }
                            &:nth-child(even) {
                                float: right;
                                clear: left;
                                transform: translateX(0);
                                border-radius: 0px 20px 20px 20px;

                                background: linear-gradient(to right, #6576ff, #948aff);
                                background-size: 200% 200%;


                                .section-timeline__item{
                                    flex-direction: row;
                                }
                            }

                            &:before {
                                content: "";
                                position: absolute;
                                height: 20px;
                                width: 20px;
                                border-radius: 50%;
                                background-color: $lightGreen;
                                top: -10px;

                            }
                            &:hover:before{
                                background-color: $lightPurple;
                            }
                            &:nth-child(odd)::before {
                                transform: translate(50%, -50%);
                                right: -15px;
                            }
                            &:nth-child(even)::before {
                                transform: translate(0);
                                left: -25px;
                            }

                        }
                    }
                }
            }
            @keyframes anima {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }
            @-webkit-keyframes anima {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }
            @-moz-keyframes anima{
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

            .section-description{
                margin-top: 6rem;

                .section-description__container{
                    display: flex;
                    align-items: center;
                    margin-bottom: 3rem;

                    .description-container__item{
                        flex: 6;
                    }
                    .description-container__text{
                        h3{
                            font-size: 2rem;
                            color: $darkPurple;
                            font-weight: bold;
                        }
                        p{
                            color: $darkColor;
                        }
                    }
                    .description-container__image{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 80%;
                        }
                    }

                    &:nth-child(odd){
                        flex-direction: row-reverse;
                    }
                }
            }

            .section-about{
                margin-top: 6rem;
                
                .section-about__title{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 2rem;
                    
                    h2{
                        font-size: 3rem;
                        margin-bottom: 2rem;
                    }
                }
                .section-about__list{
                    display: flex;
                    
                    .section-about__primaryList{
                        list-style: none;
                        width: 100%;
                        padding: 0;
                        
                        .primaryList__containerDescription{
                            font-weight: bold;
                            color: $lightGreen;
                        }

                        li{
                            margin: 1rem 0;
                            background: linear-gradient(to right, $darkPurple, $lightPurple);
                            animation: anima 3s ease-in-out infinite;
                            -webkit-animation: anima 3s ease-in-out infinite;
                            -moz-animation: anima 3s ease-in-out infinite;
                            background-size: 200% 200%;
                            border-radius: 4px;
                            width: 100%;
                            padding: .5rem;

                            a{
                                text-decoration: none;
                            }

                            .primaryList__containerText{
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                color: $darkPurple;
                                font-weight: bold;
    
                                i{
                                    margin-left: 1rem;
                                }
                                i, p{
                                    color: $lightColor;
                                    font-size: 1rem;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    .section-about__secondaryList{
                        filter: blur(-50px);
                        background-color: #0000001e;
                        border-radius: 4px;
                        margin: .5rem;
                        padding: .5rem;

                        li{
                            background: none;
                            color: $lightColor;
                            margin: .5rem;
                            list-style: none;

                            span{
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }

        .section-paymentPlans{
            padding: 3rem;
            // width: 100%;
            // margin: 6rem auto;
            // height: max-content;

            // display: flex;
            // justify-content: center;
            // gap: 1rem;

            .section-paymentPlans__table{
                width: 100%;
                display: flex;
                
                // box-shadow: 0px 0px 15px 5px #00000010;
                border-radius: 4px;

                h3{
                    font-weight: bold;
                }
            }

            .linha{
                display: flex;
                align-items: center;
                // min-height: 60px;
                min-height: 110px;

                .item{
                    display: flex;
                    align-items: center;
                    font-size: 1.5rem;

                    abbr{
                        text-decoration: none;
                    }
                }

                &.linha--h{
                    // min-height: 120px;
                    // min-height: 200px;
                    min-height: 200px;
                }
                &.no-visibleTable{
                    visibility: hidden;
                }
            }
            

            .table__description{
                height: max-content;

                display: flex;
                flex: 7;
                
                .linha {
                    .item{
                        color: #777777;
                        justify-content: flex-start;

                        details p {
                            margin: 0;
                        }
                    }
                }
            }

            .table__content{
                box-shadow: 0px 0px 15px 5px #00000010;
                border-radius: 8px;
                display: flex;
                flex: 5;

                overflow-x: auto;

                .coluna{
                    flex: 1;
                    
                    .linha{
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        .item{
                            justify-content: center;
                            width: 100%;
                            color: #6576ff;

                            color: $darkPurple;
                            
                            button{              
                                border: none;
                                padding: .5rem;
                                background-color: $darkPurple;
                                color: $lightColor;
                                font-weight: bold;
                                border-radius: 6px;
        
                                p{
                                    margin-bottom: 0;
                                }
        
                                &:hover{
                                    transition: all 1s;
                                    background-color: $lightPurple;
                                }
                            }
                        }
                    }


                    &:hover{
                        background-color: $darkPurple;
                        
                        .linha .item {
                            color: $lightColor;
                            
                            button{
                                background-color: $lightPurple;
                            }
                        }
                    }

                    &.coluna-4{
                        background-color: $darkPurple;

                        .linha .item{
                            color: $lightColor;

                            button{
                                background-color: $lightPurple;
                            }
                        }
                    }
                    
                }
                

                &::-webkit-scrollbar{
                    height: 10px;
                }
                &::-webkit-scrollbar-thumb{
                    background: $lightGreen;
                }
                &::-webkit-scrollbar-track{
                    border-top: 2px solid #EFEFEF;
                }
            }

            /*
            .coluna{
                padding: 1rem;

                .row{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .item{
                        padding: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        i{
                            color: $darkPurple;
                        }
                    }
                }
            }

            
            .coluna-1{
                background-color: #EFEFEF;

                .row .item{
                    justify-content: flex-start;
                    color: #777777;
                }
            }
            
            .coluna-2, .coluna-3, .coluna-4{
                color: $darkPurple;

            }
            .coluna-2:hover, .coluna-3:hover, .coluna-4:hover{
                background-color: $darkPurple;
                
                i, h3{
                    color: $lightColor;
                }
            }

            .description{
                flex: 6;
                display: flex;

                .coluna{
                    flex: 1;
                }
            }
            .content{
                flex: 6;
                display: flex;
                overflow-x: auto;

                &::-webkit-scrollbar{
                    height: 10px;
                }
                &::-webkit-scrollbar-thumb{
                    background: $darkPurple;
                }
                &::-webkit-scrollbar-track{
                    border-top: 2px solid #EFEFEF;
                }

                .coluna{
                    flex: 1;
                }
                .item{
                    min-width: 120px;
                    max-width: max-content;
                    padding: 1rem;
                }
            } */

            /* .section-paymentPlans__table{
                max-width: 992px;
                margin: auto;
                overflow: auto;

                th{
                    padding: 1rem 0;
                    width: max-content;
                    text-align: center;
                }

                thead tr{
                    background: linear-gradient(to right, $darkPurple, $lightPurple);
                    animation: anima 3s ease-in-out infinite;
                    -webkit-animation: anima 3s ease-in-out infinite;
                    -moz-animation: anima 3s ease-in-out infinite;
                    background-size: 200% 200%;
                }

                tr td, tr th{
                    font-size: 1.5rem;
                }

                tr td {

                    abbr{
                        text-decoration: none;
                    }
                    button{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        border: none;
                        padding: 1rem;
                        background-color: $darkPurple;
                        color: $lightColor;
                        font-weight: bold;

                        p{
                            margin-bottom: 0;
                        }

                        &:hover{
                            transition: all 1s;
                            background-color: $lightGreen;
                        }
                    }
                }

                tr:first-child th{
                    padding: 1rem 2rem;
                    color: $lightColor;

                    &:nth-child(1){
                        border-top-left-radius: 8px;
                    }
                    &:nth-child(3){
                        color: $lightColor;
                        // border-left-width: 2px;
                        // border-right-width: 2px;
                    }
                    &:last-child{
                        border-top-right-radius: 8px;
                    }
                }
                tr:last-of-type td:first-child{
                    border-bottom-left-radius: 8px;
                }
                tr:last-of-type td:last-child{
                    border-bottom-right-radius: 8px;
                }

                tbody{
                    box-shadow: 12px 12px 25px #00000010;
                    
                    tr{
                        &:not(tr:last-child) td{
                            padding: 1rem;
                            width: max-content;
                            text-align: center;

                            &:nth-child(4n+1){
                                color: $textColor;
                                background-color: #EFEFEF;
                                text-align: left;
                            }
                        }
                        
                        &:last-child td{
                            background-color: $darkPurple;
                        }
                    }
                    
                    td:nth-child(4n+3){
                        color: $darkPurple;
                    }


                }
                // td:nth-child(4n+3){
                //     border-left-width: 2px;
                //     border-right-width: 2px;
                //     border-left-color: $darkPurple;
                //     border-right-color: $darkPurple;
                // }
                // tr:last-child td:nth-last-child(2){
                //     border-color: #6576ff;
                //     border-bottom-width: 2px;
                // }
            
            } */

            /* .section-paymentPlans__item{
                width: calc(100%/3.3);
                height: max-content;
                border-radius: 8px;
                border: 2px solid $darkPurple;
                box-shadow: 5px 5px 15px #00000031;

                .section-paymentPlans__itemTitle{
                    text-align: center;
                    padding: 1rem;
                    background: linear-gradient(to left, $lightPurple, $darkPurple);
                    color: $lightColor;
                    
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    
                    h3{
                        font-weight: bold;
                    }
                }

                &:hover{
                    transition: all .5s;
                    transform: scale(1.025, 1.025);

                    .section-paymentPlans__itemTitle{
                        background: linear-gradient(to left, $darkPurple, $lightPurple);
                    }
                }
            }
            .section-paymentPlans__itemContent{
                padding: 2rem;
                background-color: $lightColor;
                border: 2px solid transparent;
                text-align: center;
                
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                .paymentPlans-itemContent__container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .paymentPlans-itemContent__prices{
                        display: flex;
                        justify-content: center;

                        p{
                            display: flex;
                            align-items: center;
                            margin-bottom: 0;
                            
                            span{
                                font-size: 3rem;
                            }
                        }
                    }

                    div:not(div.paymentPlans-itemContent__prices){
                        margin-top: 2rem;
                    }
                    div:nth-child(2){
                        h3 span{
                            color: #128c7e;
                        }
                    }
                    div p {
                        font-size: .9rem;
                    }
                    div h3{
                        font-size: 1.4rem;
                        font-weight: bold;
                    }
                    div p strong {
                        font-size: 1.05rem;
                    }

                    button{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        padding: .8rem;
                        margin: 0 0 2rem;
                        border: none;
                        border-radius: 8px;
                        background-color: $darkPurple;
                        color: $lightColor;

                        p{
                            margin-bottom: 0;
                            margin-left: 1rem;
                        }

                        &:hover{
                            transition: all 1s;
                            background-color: $lightGreen;
                        }
                    }

                    &:last-child{
                        text-align: left;
                    }
                }

                hr{
                    margin: 3rem 0;
                }
                
            } */
        }

        .section-newPlan{
            width: 100%;
            margin: 3rem 0;
            
            .newPlan__card{
                width: 90%;
                margin: auto;
                text-align: center;
            }

            .section-newPlan__title{
                color: $darkPurple;
                
                h3{
                    z-index: 2;
                    font-weight: bold;
                    margin-bottom: 0;
                }

            }
            .section-newPlan__content{
                padding: 2rem;
                background-color: $lightColor;
                border: 2px solid transparent;

                .newtPlan-itemContent__prices{
                    display: flex;
                    justify-content: center;

                    p{
                        display: flex;
                        align-items: center;
                        margin: 0;
                        
                        span{
                            font-size: 3rem;
                        }
                    }
                }

                div p strong a {
                    text-decoration: none;
                    color: $darkPurple;

                    &:hover{
                        color: $lightGreen;
                    }
                }
            }
        }

    }

    .section-last{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0; 
    }

    .section-form{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
        background: url("../img/contato.jpg") no-repeat;
        background-size: cover;
        background-position: 0 100%;
        padding: 2rem;
        position: relative;

        .section-form__filter{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000000d2;
            z-index: 1;
        }

        .section-form__group{
            flex: 7;
            border-radius: 8px;
            padding: 2rem;
            z-index: 2;
            
            h2{
                color: $lightColor;
            }
            p{
                color: $lightColor;
            }
            a{
                text-decoration: none;

                &:hover{
                    color: $lightColor;
                }
            }
        }
        .section-form__group2{
            flex: 5;
            z-index: 2;

            .form{
                padding: 2rem;
                border: 1px solid $darkPurple;
                background-color: $backgroundColor;
                
                legend{
                    display: none;
                }
                .input-group{
    
                    p, input, label{
                        width: 100%;                   
                    }
                    p{
                        margin: 0;
                        margin-top: 1rem;
                    }
    
                    label{
                        color: $darkPurple;
                        font-weight: bold;
                        cursor: grab;
    
                        &:active{
                            cursor: grabbing
                        }
                    }
    
                    input{
                        padding: .5rem;
                        background-color: $lightColor;
                        border: 1px solid $darkPurple;
                        border-radius: 4px;
                        margin-top: .5rem;
                        color: $darkPurple;
    
                        &:focus{
                            outline-color: $lightPurple;
                        }
                    }
    
                    button{
                        display: flex;
                        padding: 1rem;
                        color: $lightColor;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        border-radius: 4px;
                        width: 100%;
                        background-color: $darkPurple;
                        margin-top: 2rem;
                        gap: .5rem;
    
                        &:hover{
                            transition: all 1s;
                            background-color: $lightGreen;
                            
                            i{
                                animation: bell .2s infinite alternate-reverse;
                            }
                        }
                    }
                    @keyframes bell {
                        0%{ 
                            transform: rotate(-30deg); 
                        }
                        50%{
                            transform: rotate(0);
                        }
                        100%{
                            transform: rotate(30deg);
                        }
                    }
                    
                }
            }
        }

    }

    .footer{
        padding-bottom: 3rem;

        background-color: $lightColor;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        > div > p {
            text-align: center;
            color: $darkPurple;
            cursor: grab;
            width: max-content;
            margin: auto;
            
            span{
                position: relative;
                z-index: 2;
                font-size: 1.1rem;

                &:hover:before{
                    content: "";
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    bottom: 4px;
                    z-index: -1;

                    background-color: $lightGreen;
                }
            }
            &:active{
                cursor: grabbing;
            }
        }
    }

    &.dark-theme{
        $backgroundColor: $darkColor;
        $textColor: $lightColor;

        background-color: $backgroundColor;
        color: $textColor;

        .app {
            .header__presentation, .main{
                clear: both;

                .header-presentation__container{
                    p{
                        color: $textColor;
                    }
                }
            }
            .main{
               .section-description{
                    margin-top: 6rem;
    
                    .section-description__container{
                        .description-container__text{
                            p{
                                color: $textColor;
                            }
                        }
                    }
                }
                p{
                    color: $textColor;
                }

            }
            .section-paymentPlans{
                p, h3{
                    color: $textColor;
                }
                .section-paymentPlans__itemContent{
                    background-color: $darkColor;
                }
            }

            .section-newPlan{
                p, h3{
                    color: $textColor;
                }
                .section-newPlan__content{
                    background-color: $darkColor;
                }
            }
        }

        .footer{
            background-color: $darkColor;

            .section-last{
                > p{
                    color: $textColor;
                }
            }
            .section-form{
                .section-form__group div p{
                    color: $textColor;
                }

                .section-form__group2 .form{
                    background-color: $darkPurple;

                    
                    .input-group{
                        label{
                            color: $textColor;
                        }

                        input{
                            background-color: $darkColor;
                            color: $textColor;
        
                            &:focus{
                                outline-color: $lightPurple;
                            }
                        }

                        button{
                            background-color: $lightColor;
                            color: $darkPurple;
            
                            &:hover{
                                transition: background-Color 1s;
                                background-color: #e9e9e9d7;
                                
                                i{
                                    animation: bell .2s infinite alternate-reverse;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    body{
        .header{
            .header__presentation{

                .header__container{
                    padding: 1rem;

                    .header-presentation__container{
                        max-width: 600px;
                        width: 100%;
                        margin: auto;
    
                        p{
                            font-size: 1.2rem;
                        }
                        h1{
                            font-size: 2rem;
                        }
                    }

                    .growp-app{

                        img {
                            max-width: 100%;
                            min-width: 100%;
                        }
    
                        .modal-body {
                            overflow: hidden;

                            img {
                                max-width: 250%;
                                animation: animg 15s ease-in-out infinite alternate-reverse;
                            }

                            @keyframes animg {
                                from {
                                    transform: translateX(0);
                                }
                                to{
                                    transform: translateX(-60%);
                                }
                            } 
                        }
                    }
                }

            }
        }

        .app{

            .main{
                padding: 1rem;

                .section-timeline{
                    max-width: 600px;
                    margin: 0 auto;

                    .section-timeline__title{
                        margin: 3rem auto;
                    }

                    .section-timeline__container{
                        ul{
                            list-style: none;
                            display: flow-root;
                            margin-top: 2rem;
    
                            &:before{
                                left: 0;
                                height: 80%;
                            }
    
                            li{
                                width: 100%;
                                position: relative;
                                margin: 0 0 2rem;
                                padding: 1.5rem;
                                
    
                                &:nth-child(odd) {
                                    float: left;
                                    clear: left;
                                    transform: translateX(0);
                                    text-align: left;
                                    border-radius: 0px 20px 20px 20px;
                                    background: linear-gradient(to right, #6576ff, #948aff);
                                    
                                    .section-timeline__item{
                                        flex-direction: column;

                                        .timeline-item__icon{

                                            i{
                                                margin: 0 0 1rem;
                                            }
                                        }
                                    }
                                }
                                &:nth-child(even) {
                                    float: left;
                                    clear: right;

                                    .section-timeline__item{
                                        flex-direction: column;

                                        .timeline-item__icon{

                                            i{
                                                margin: 0 0 1rem;
                                            }
                                        }
                                    }
                                }
                                &:before {
                                    top: 0;
                                }
                                &:nth-child(odd)::before, &:nth-child(even)::before {
                                    transform: translate(50%, -50%);
                                    left: -52px;
                                }
                            }

                            
                            
                        }
                    }
                }

                .section-description{
                    .section-description__container{
                        display: flex;
    
                        .description-container__item{
                            flex: 12;
                        }
                        .description-container__text{
                            max-width: 600px;

                            h3{
                                font-size: 2rem;
                            }
                            h3, p{
                                text-align: center;
                            }
                        }
                        .description-container__image{
                            margin-bottom: 1rem;

                            img{
                                width: 100%;
                            }
                        }
    
                        &:nth-child(even), &:nth-child(odd){
                            flex-direction: column-reverse;
                        }
                    }
                }

                .section-about{
                    max-width: 600px;
                    margin: auto;
    
                    .section-about__title{
                        align-items: center;
                        text-align: center;
                    }
                }

            }
            .section-paymentPlans{
                padding: 1rem;
                
                .section-paymentPlans__table{
                    width: 100%;
                    max-width: 600px;
                    margin: auto;
                }

                .linha{
                    display: flex;
                    align-items: center;
                    min-height: 140px;
    
                    .item{
                        display: flex;
                        align-items: center;
                        padding: 1rem;
                    }

                    abbr{
                        max-height: 80px;
                        overflow: auto;
                        line-height: .5rem;
                        background-color: $darkPurple;
                        color: $lightColor;
                        padding: .5rem;
                        border-radius: 4px;
                        
                        &::-webkit-scrollbar{
                            width: 5px;
                        }
                        &::-webkit-scrollbar-thumb{
                            background: $lightGreen;
                        }
                        &::-webkit-scrollbar-track{
                            background-color: $lightPurple;
                        }
                    }
                    abbr[title]::after {
                        content: " (" attr(title) ") ";
                        font-size: .8rem;
                    }
    
                    &.linha--h{
                        min-height: 600px;
                    }
                }

                .coluna:hover .linha .item abbr{
                    background-color: $lightPurple;
                }

                /* .section-paymentPlans__table{
                    max-width: 600px;
                    margin: auto;

                    tr:first-child th{
                        width: min-content;
                        padding: .5rem 0;
                    }

                    tbody{
                        tr:not(tr:last-child) td{
                            padding: 1rem 0;
                            
                        }
                        tr td buttom{
                            padding: 1rem 0;
                        }
                    }
                }
    
                .section-paymentPlans__item{
                    width: 80%;
                    max-width: 400px;
                    margin-bottom: 2rem;
                } */
            }

            .section-newPlan{
                .newPlan__card{
                    width: 100%;
                    max-width: 600px;
                }
                .section-newPlan__content{
                    text-align: left;

                    .newPlan__mail{
                        text-align: center;
                    }
                }
            }
        }

        .section-form{
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            background-position: 100% 0;

            .section-form__group{
                padding: 0rem;
                margin: 1rem 0 3rem;
            }

            .section-form__group, .section-form__group2{
                flex: 12;
            }
            
            .form{
                margin: 1rem 0;

                .input-group{
                    text-align: left;
                }
            }
        }
    }
}