$darkColor: #18191a;
$lightColor: #f5f6fa;

$darkPurple: #6576ff;
$lightPurple: #948aff;

$lightGreen: #09c2de;
$lightGray: #777777;

$backgroundColor: $lightColor;
$textColor: $lightGray;

$span: $lightColor;